<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">Logo</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestations/liste" routerLinkActive="active">Prestations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients/liste" routerLinkActive="active">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/intervenants/liste" routerLinkActive="active">Intervenants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/apporteurs/liste" routerLinkActive="active">Apporteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tableau/liste-prestations" routerLinkActive="active">Liste Prestations</a>
      </li>
    </ul>
  </div>
</nav>
